@model StockManager.ViewModel.PrendaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Prenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Talle" class="control-label"></label>
                <input asp-for="Talle" class="form-control" />
                <span asp-validation-for="Talle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDePrendaID" class="control-label"></label>
                <div>
                    @Html.DropDownListFor(
                           x => x.TipoDePrendaID,
                           new SelectList(Model.TiposDePrendas, "TipoDePrendaId", "Descripcion")
                   )
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
